/*
Custom Css
*/
.navbar-brand {
    color: #000000 !important;
    font-family: 'Boogaloo', cursive !important;
    font-size: 28px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    background-color: #000000;
}