/*
Custom Css
*/
.navbar-brand img {
    height: 25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    background-color: #000000;
}

.coz-red-section {
    background-color: #BE1E2D !important;
}

.coz-red-section h1,
.coz-red-section h2,
.coz-red-section h5,
.coz-red-section p {
    color: #ffffff !important;
}

.coz-hero-section {
    background-color: #BE1E2D !important;
}

.carousel-item {
    max-height: 450px;
    overflow: hidden;
}
